*{
  margin: 0;
  padding: 0;
  list-style: 0;
  text-decoration: none;
  box-sizing: border-box;
}


.header {
  width: 100%;
  height: 150px;
  display: block;
  background-color: rgb(0, 123, 255);
}

.header h2 {
    color: rgb(238, 209, 42);
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    font-weight: 800;
}

.header h2 span {
  font-weight: 630;
}

.inner_header {
  width: 1000px;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo_container {
  height: 100%;
  display: table;
  float: left;
}

.navigation{
  float: right;
  height: 100%;
}

.navigation a{
height: 100%;
display: table;
float: left;
padding: 0px 20px;
}

.navigation a:last-child{
  padding-right: 0;
}

.navigation a li{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color:white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bar {
  background-color: rgb(255, 255, 255);
  width: 100%;
}

body {
  width: 100%;
  margin: 0% auto;
  background-color: #fbfbfb;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  width: 100%;
  padding-left: 300px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #16339a;
  color: white;
}

.logga {
  margin-top: 10rem;
}

footer {
  height: 30rem;
  width: 100%;
  background-color: rgb(25, 25, 25);
  color: white;
}

h1 {
font-size: 20px;
padding-top: 75px;
padding-left: 180px;
font-style: italic;
}

.footer {
padding-left: 180px;
padding-right: 800px;
}

.text { 
padding-left: 15rem;
padding-right: 15rem;
font-size: 20px;
padding-bottom: 12rem;
}


